<style>
    h1
    { background-color: rgb(12, 12, 90);
      color: white;
      font-family: cursive;
      text-align: center;
    }
    p
    {
        background-color: rgb(12, 12, 90);
        color: white;
    }
</style>